<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ex20180917</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
</style>
</head>
<p class="center"> Great minds think alike. 英雄所見略同。</p>
<p class="center2">Man proposes, God disposes. 謀事在人，成事在天。</p>
<p class="center3"> All lay loads on a willing horse. 人善被人欺，馬善被人騎。</p>
<p class="center4">Extremes meet. 物極必反。</p>
<p class="center5">A handful of patience is worth more than a bushel of brains. 小不忍則亂大謀。</p>
<p class="button"><a href="http://210.70.80.21/~s106021152/Ex20180917.html">Home</a></p>
</body>
</html>
